@font-face {
    font-family: Calibri;
    src: url('css/font/Calibri/Calibri.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Calibri bold;
    src: url("css/font/Calibri/Calibri-Bold.ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Calibri light;
    src: url("css/font/Calibri/Calibri-light.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Calibri light ital;
    src: url("css/font/Calibri/Calibri-Italic.ttf");
}
.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.header_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
}
.header {
    background-color: #43b1d2;
    padding-top: 21px;
}
.logo {
    display: flex;
    flex-flow: wrap;
    padding-left: 15px;
    width: 240px;
    height: 57px;
}
.menu_top {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 880px;
    font-family: Calibri;
    font-size: 16px;
}
li a{
    text-decoration: none;
    color: #494848;
}
.main {
    color: #ffffff;
}
.up {
    position: fixed;
    right: 80px;
    bottom: 60px;
    padding: 5px;
    color: #000;
    background: cornflowerblue;
    font-size: 22px;
}
.phone_img {
    margin: 0 18px;
    height: 20px;
}
.phone_img_text {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
}
.background {
    background-color: #cbd4e6;
    width: 100%;
}
.container_banner {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
    height: 515px;
    background-image: url('../img/layer.png');
}
.banner_text {
    letter-spacing: 2px;
    color: #494848;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    font-family: Calibri;
}
.banner_text_phone {
    font-family: Calibri bold;
    font-size: 24px;
}
.submit {
    background-color: transparent;
    color: #494848;
}
.icon_container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 322px;
    display: flex;
    justify-content: space-between;
}
.radius {
    background-color: white;
}
.icon_container__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-basis: 40%;
    text-align: center;
}
.icon_text {
    color: white;
    size: 20px;
    letter-spacing: 1px;
    width: 256px;
    font-family: Calibri light;
}
.tabs_block {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
}
.tabs {
    display: flex;
    justify-content: flex-start;
}
.tabs_links {
    list-style: none;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    padding: 5px;
}
.tabs_links_a {
    color: #43b1d2;
    border-color: #e8ebee;
    text-decoration: none;
    padding: 6px 10px;
    text-align: center;
    font-family: Calibri bold;
}
.tabs_body {
    border: 1px solid #43b1d2;
}