.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.header_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
}
.header {
    background-color: #43b1d2;
    padding-top: 21px;
}
.logo {
    display: flex;
    flex-flow: wrap;
    padding-left: 15px;
    width: 240px;
    height: 57px;
}
.menu_top {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 880px;
}
li a{
    text-decoration: none;
    color: #494848;
    font-size: 20px;
}
.main {
    color: #ffffff;
}
.up {
    position: fixed;
    right: 80px;
    bottom: 60px;
    padding: 5px;
    color: #000;
    background: cornflowerblue;
    font-size: 22px;
}
.phone_img {
    margin: 0 18px;
    height: 20px;
}
.phone_img_text {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
}
.background {
    background-color: #cbd4e6;
    width: 100%;
}
.container_banner {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-around;
    height: 515px;
    background-image: url('../img/layer.png');
}
.banner_text {
    letter-spacing: 2px;
    color: #494848;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}
.submit {
    background-color: transparent;
    color: #494848;
}
.icon_container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 322px;
    display: flex;
    justify-content: space-between;
}
.radius {
    background-color: white;
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.text {
    color: white;
    size: 20px;
    letter-spacing: 1px;
    width: 256px;
}